[google]
ClientID =  google_client_id_here
ClientSecret =  google_client_secret_here
RedirectURL = google_redirect_url_here
LoginURL = /auth/google/login
LogoutURL = /auth/google/logout
ErrorURL = /auth/google/oauth2error
CallbackURL = /auth/google/oauth2callback
Scopes = https://www.googleapis.com/auth/userinfo.email, https://www.googleapis.com/auth/userinfo.profile